.container.signup{
    background-color: #fff;
    padding-top:0;
    display:flex;
    flex-direction: column;

    .header{
        padding:30px;

        .arrow{
            width:13Px;
            height:12px;
        }
    }
    
    .main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .text_container{
            display:flex;
            flex-direction: column;
            gap:10px;
            margin-bottom:50px;
            padding-top:30px;

            h3{
                font-size:20px;
                font-weight:500;
            }
            p{
                font-size:12px;
                font-weight:450;
            }
        }
        
        .input_container1{
            display:flex;
            flex-direction: column;
            margin-bottom:50px;
            gap:10px;

            .inputEmail{
                border:1px solid #C2C2C2;
                width:287px;
                height:58px;
                border-radius: 10px;
                font-size:19px;
                padding-left:20px;
                padding-right:10px;
            }
            .inputPassword1{
                border:1px solid #C2C2C2;
                width:287px;
                height:58px;
                border-radius: 10px;
                font-size:19px;
                padding-left:20px;
                padding-right:10px;
            }
            .inputPassword2{
                border:1px solid #C2C2C2;
                width:287px;
                height:58px;
                border-radius: 10px;
                font-size:19px;
                padding-left:20px;
                padding-right:10px;
            }
            .password_error{
                color:#FF0000;
                font-size:12px;
                display:flex;
                justify-content: flex-end;
                font-weight:500;

            }
        }

        .input_container2{
            display:flex;
            flex-direction: column;
            gap:10px;

            .inputNickname{
                border:1px solid #C2C2C2;
                width:287px;
                height:58px;
                border-radius: 10px;
                font-size:19px;
                padding-left:20px;
                padding-right:10px;
            }
            .inputAccount{
                border:1px solid #C2C2C2;
                width:287px;
                height:58px;
                border-radius: 10px;
                font-size:19px;
                padding-left:20px;
                padding-right:10px;
            }
            .inputBank{
                border:1px solid #C2C2C2;
                width:287px;
                height:58px;
                border-radius: 10px;
                font-size:19px;
                padding-left:20px;
                padding-right:10px;
            }
            .bank_dropdown{
                border:1px solid #C2C2C2;
                border-radius:10px;
                margin-top:30px;
                padding:10px;

                button{
                    display:flex;
                    flex-direction: column;
                    padding:7px;
                    font-size:19px;
                    font-weight:400;
                    
                }
            }
        }
    }
    .bottom {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        button {
            width: 287px;
            height: 58px;
            border-radius: 10px;
            color: white;
            font-size: 16px;
            transition: background-color 0.2s;
        }

        button.disabled {
            background-color: #c2c2c2;
            cursor: not-allowed;
        }

        button.active {
            background-color: #92455a;
            cursor: pointer;
        }

        button:disabled {
            pointer-events: none; // 클릭 방지
        }
    }

}