.container.fundingdetail_wrap.no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden !important;
  height: 852px;
  position: relative;

  .fd_bg {
    position: absolute;
    inset: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .download_btn {
      position: absolute;
      top: 18px;
      right: 18px;
      z-index: 20;
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;

      .download {
        width: 21px;
        height: 25px;
        display: block;
      }
    }

    .fd_share {
      position: absolute;
      right: 18px;
      top: 18px;
      z-index: 20;
      border: none;
      background: transparent;
      color: #fff;
      font-size: 22px;
    }

    .fd_title {
      position: absolute;
      left: 30px;
      z-index: 11;
      bottom: 150px;
      transition: bottom 0.35s ease;

      h1 {
        margin: 0;
        font-size: 40px;
        font-weight: 600;
        color: #fff;
      }
    }
  }

  &.is-open {
    .fd_title {
      bottom: 603px;
    }
  }

  .fd_sheet {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    width: 397px;
    height: 82px;

    background: #fff;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.12);

    padding: 16px 20px;
    transition: height 0.35s ease;
    z-index: 10;
    overflow: hidden;

    &.open {
      height: 578px;
    }

    .sheet_content {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 0;
      overflow: hidden;

      .fd_toprow {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 30px;

        .fd_meta {
          .fd_owner {
            margin: 0;
            font-size: 14px;
            color: #433f3f;
            font-weight: 400;
          }

          .fd_date {
            margin: 1px 0 0;
            font-weight: 400;
            font-size: 14px;
            color: #433f3f;
          }
        }

        .fd_percent {
          margin: 0;
          font-size: 20px;
          font-weight: 800;
          color: #433f3f;
        }
      }

      .fd_progress {
        margin-top: 12px;

        .bar {
          height: 8px;
          border-radius: 999px;
          border: 1px solid #c2c2c2;
          background: #fff;
          overflow: hidden;

          .fill {
            height: 100%;
            border-radius: 999px;
            background: linear-gradient(90deg, #d16f89 0%, #92455a 100%);
            transition: width 0.35s ease;
          }
        }
      }

      .fd_summary_box {
        margin-top: 14px;
        background: #f4f4f4;
        border-radius: 10px;
        padding: 14px;
        text-align: center;
        width: 317px;
        height: 83px;

        p {
          margin: 0;
          margin-top: 4px;
          font-size: 16px;
          font-weight: 600;
          color: #433f3f;
        }

        p + p {
          margin-top: 8px;
        }
      }

      .fd_section_title {
        margin: 52px 0 10px;
        font-size: 14px;
        font-weight: 400;
        color: #433f3f;
      }

      .fd_list {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        overflow-x: hidden;

        padding-right: 20px;
        margin-right: -20px;

        &::-webkit-scrollbar {
          width: 9px;
        }

        &::-webkit-scrollbar-thumb {
          background: #d9d9d9;
          border-radius: 999px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        .fd_item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          border: 1px solid #d9d9d9;
          border-radius: 12px;

          padding: 14px 16px;
          margin-bottom: 12px;
          background: #fff;
          width: 317px;
          height: 70px;

          .left {
            .name {
              margin: 0;
              font-size: 14px;
              font-weight: 400;
              color: #433f3f;
            }

            .msg {
              margin: 6px 0 0;
              font-size: 12px;
              color: #433f3f;
              font-weight: 400;
            }
          }

          .money {
            margin: 0;
            font-size: 18px;
            font-weight: 600;
            color: #433f3f;
          }
        }
      }

      .fd_stop_btn {
        margin-top: 14px;
        width: 274px;
        height: 56px;
        border: none;
        border-radius: 16px;
        background: #8c4a5d;
        color: #fff;
        font-size: 19px;
        font-weight: 400;
        cursor: pointer;
        margin-left: 25px;
        flex-shrink: 0;
      }
    }
  }

  .fd_modal_backdrop {
    position: absolute;
    inset: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.35);

    display: flex;
    align-items: center;
    justify-content: center;

    .fd_modal {
      width: 335px;
      height: 265px;
      background: #fff;
      border-radius: 12px;
      padding: 26px 22px 22px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

      .modal_img {
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 57px auto 10px;
      }

      .fd_modal_text {
        margin: 0 0 45px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #111;
        line-height: 1.35;
      }

      .fd_modal_btn {
        width: 335px;
        height: 56px;
        margin-left: -22px;
        border: none;
        border-radius: 6px;
        background: #8c4a5d;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
