.container.myfunding_wrap {
  background-color: #fff;

  .myfunding_header {
    position: relative; 
    width: 100%;
    height: 133px;
    border-bottom: 1px solid #c2c2c2;

    h1 {
      padding-left: 36px;
      font-weight: 600;
      padding-top: 35px;
    }

    .section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 38px 74px 0;
    }

    .tab {
      position: relative; 
      background: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;

      p {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
      }

      .underline {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -7px;
        width: 161px;
        height: 5px;
        background-color: #92455a;
      }
    }
  }


  .mf_content {
    padding: 36px;

    .mf_product {
      border: 1px solid #c2c2c2;
      border-radius: 10px;
      width: 318px;
      height: 103px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
      margin-bottom: 32px;
      cursor: pointer; 

      .mf_con {
        padding-top: 20px;
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mf_con_left {
          p {
            font-size: 20px;
            font-weight: 600;
          }

          .date {
            font-size: 13px;
            margin-top: -3px;
            font-weight: 400;
            color: #D16f89;
          }
        }

        .mf_con_right {
          font-size: 20px;
          color: #433F2f;
          font-weight: 600;

          .percent {
            padding-top: 23px;
          }
        }
      }
    }
  }

  .mf_con_var {
    width: 270px;
    height: 9px;
    border: 1px solid #c2c2c2;
    border-radius: 40px;
    overflow: hidden;
    margin: 8px auto 0;

    .mf_con_var_fill {
      height: 100%;
      border-radius: 40px;
      background: linear-gradient(90deg, #D16F89 0%, #92455A 100%);
      transition: width 0.3s ease;
    }
  }
}