button,
a {
  cursor: pointer;
  background-color: var(--none);
}

body {
  background-color: var(--black);
  margin: 0;

  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  min-width: 393px;
  max-width: 420px;
  height: 852px;

  margin: 0 auto;
  background-color: var(--body);

  position: relative;     
  overflow-y: auto;       
  overflow-x: hidden;

  padding-top: 60px;
  padding-bottom: 69px;  
  box-sizing: border-box;
}

.container::-webkit-scrollbar {
  display: none;
}


.none {
  display: none !important;
}

input {
  outline: none;
}
