.container.login{
    background-color: #fff;
    padding-top:0;
    height:852px;
    display:flex;
    flex-direction: column;

    .header{
        padding:30px;

        .arrow{
            width:13Px;
            height:12px;
        }
    }

    .middle{
        margin-top:120px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .logo{
            width:120px;
            height:32px;
            margin-bottom:40px;
        }

        .input_container{
            display: flex;
            flex-direction: column;
            gap:15px;
            margin-bottom:15px;

            input{
                border:1px solid #C2C2C2;
                width:287px;
                height:58px;
                border-radius:10px;
                padding:15px;
            }
        }

        .button_container{
            display:flex;
            flex-direction: column;
            gap:30px;

            .login_button{
                width:287px;
                height:58px;
                color:white;
                background-color: #92455A;
                border-radius: 10px;

            }

            .signup_button{
                color:#92455A;
                font-weight: 600;
            }

        }
    }
}