.toggle_switch {
  width: 35px;
  height: 21px;
  display: flex;
  align-items: center;
  background-color: transparent; 
  border: 1px solid #433F3F;
  border-radius: 10px;
  padding: 2.7px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  position: relative;
}

.toggle_switch.on {
  background-color: var(--red02); 
}

.toggle_handle {
  width: 20px;
  height: 16px;
  background-color: #433F3F;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; 
  position: absolute;
  left: 3px;
}

.toggle_switch.on .toggle_handle {
  transform: translateX(10px);
}